<!-- admin-footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="admin-footer">
    <!-- Footer -->
    <footer class="footer-area text-center text-lg-start mt-5">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Starbucks Admin <img th:src="@{/48.png}" alt="Starbucks Icon" class="starbucks-icon"></h5>
                    <p>
                        Starbucks Admin panel allows you to manage products and orders effectively.
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/admin/home" class="text-dark">Home</a>
                        </li>
                        <li>
                            <a href="/about" class="text-dark">About Us</a>
                        </li>
                        <li>
                            <a href="/contact" class="text-dark">Contact</a>
                        </li>
                        <li>
                            <a href="/admin/products" class="text-dark">Products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Customer Service</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:help@starbucks.com" class="text-dark">Email: help@starbucks.com</a>
                        </li>
                        <li>
                            <a href="tel:+18009256278" class="text-dark">Phone: +1 800 925 6278</a>
                        </li>
                        <li>
                            <a href="/store-locator" class="text-dark">Store Locator</a>
                        </li>
                        <li>
                            <a href="/faq" class="text-dark">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Corporate Info</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://corporate.starbucks.com" class="text-dark" target="_blank">Corporate Website</a>
                        </li>
                        <li>
                            <a href="mailto:corporate@starbucks.com" class="text-dark">Email: corporate@starbucks.com</a>
                        </li>
                        <li>
                            <a href="tel:+14792733000" class="text-dark">Phone: +1 479 273 3000</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Address: 702 SW 8th Street, Bentonville, AR 72716, USA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center p-3 text-white bg-dark">
            © 2024 Starbucks Inc. All rights reserved. | Starbucks and the Starbucks logo are registered trademarks of Starbucks Inc.
        </div>
    </footer>
</div>
</body>
</html>
